@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,700|Open+Sans+Condensed:300|Roboto|Roboto+Condensed|Roboto+Slab:100');
body{
	/*padding-top: 50px;    when you use color navbar add 50px padding-top */
	font-family: "Roboto Slab", sans-serif;
	font-weight: 300;
	font-size: 2em;
	position: relative;
}
h1 , h2 , h3 , h4 , h5 , h6{
	font-family: "Open Sans", sans-serif;
	font-weight: 100;
	margin:0;
}
/* header navigation */

header .navbar{
	border-radius: 0;
	padding: 30px 0;
}
header .navbar-default{
	background-color: transparent;
	border:none;
}
header .navbar-default .navbar-nav a{
	color:white;
	padding:5px 8px;
}

header .navbar-default .navbar-nav a:hover{
	color:#EEc856;
}
header .navbar-default .navbar-nav .active a {
	font-weight: 700;
	background: transparent;
	color:#F8BB03;
	border-bottom: 2px solid #F8BB03;
	text-shadow: none;
	
}
header .navbar-default .navbar-nav .active a:hover{
	color:#E15d5F;
	background: transparent;
}
/* Navbar brand */

header .navbar-brand{
	background: url(../images/hamburger.svg);
	background-repeat: no-repeat;
	background-position: 15px 0;
	height: auto; 
}
header .navbar-brand h1{
	color:white;
	font-size: 1.8em;
	font-weight: 400;
	margin: 0;
	padding-left: 105px;
	
	
}
header .navbar-brand span.subHead{
	display: block;
	font-family: "Roboto Slab", sans-serif;
	font-size: 0.6em;
	font-weight: 100;
	letter-spacing: 5.3px;
}

/* Navbar toggle */

header .navbar-toggle{
	background:transparent ;
}
header .navbar-default .navbar-toggle .icon-bar{
	background: white;
}
@media only screen and (max-width: 600px){
header .navbar-collapse{
	background: rgba(0,0,0,0.50);
}
}

/*  Page */

.item img{
	width:100%;
}
.page h2{
	margin-bottom: 30px;
}
.page{
	margin-top:50px;
	margin-bottom: 50px;
}
/* Page - about */
#backgroundAbout{
	background-color: #D86A05;
	background-image: linear-gradient(to bottom,#D86A05,#D9B7AD);
	border-top:20px solid #725139;
}



/* footer navigation*/

footer .navbar-default{
	background: transparent;
	border:none;
}