@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Roboto|Roboto+Condensed|Roboto+Slab');
body{
	padding-top: 50px;
	font-family: "Roboto Slab", sans-serif;
	font-weight: 300;
	font-size: 2em;
	position: relative;
}
.navbar{
	border-radius: 0;
}
footer .navbar-default{
	background: transparent;
	border:none;
}
.item img{
	width:100%;
}
