@import url('https://fonts.googleapis.com/css?family=Open+Sans:100|Open+Sans+Condensed:300|Roboto|Roboto+Condensed|Roboto+Slab');
body{
	padding-top: 50px;
	font-family: "Roboto Slab", sans-serif;
	font-weight: 300;
	font-size: 2em;
	position: relative;
}
h1 , h2 , h3 , h4 , h5 , h6{
	font-family: "Open Sans", sans-serif;
	font-weight: 100;
	margin:0;
}
.page{
	margin-top:50px;
	margin-bottom: 50px;
}
.navbar{
	border-radius: 0;
}
/* header navigation */
header .navbar{
	padding: 30px 0;
}


/* footer navigation*/




footer .navbar-default{
	background: transparent;
	border:none;
}
.item img{
	width:100%;
}
.page h2{
	margin-bottom: 30px;
}
